<div class="form-group row" style="position: relative">
    <div class="col-md-4 offset-md-4">
        {{input type="text" class="form-control" id="autocomplete" placeholder=placeholder}}
    </div>
</div>
