{{autocomplete-textbox data=model chooseMonster=(action "addMonster") autofocus=true}}


<div class="row">
    <div class="col-sm"></div>
    <div id="accordion" class="col-sm-8">
        {{#each-in fighters as |fighter data|}}
          {{monster-card name=fighter data=data}}
        {{/each-in}}
    </div>
    <div class="col-sm"></div>
</div>
