.custom-dropdown-menu {
    overflow-y: scroll;
    max-height: 16rem;
    min-width: 97%;
    position: absolute;
    display: block;
    z-index: 100;
    border:1px solid rgba(0,0,0,.15)
}

.custom-dropdown-item {
    cursor: pointer;
    display: block;
    min-width: 100%;
    padding:4px 15px;
    background-color: white;

}

.custom-dropdown-item:hover {
    background-color: #E8E8E8;
}