<div style="border:1px solid black">
    <h4>Add Expense</h4>
    <label for="name">Expense Name</label>
    <input type="text" id="name" />
    <label for="frequency">Frequency</label>
    <select>
        <option value="weekly">Weekly</option>
        <option value="bi-weekly">Bi-Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="bi-monthly">Bi-Monthly</option>
        <option value="tri-monthly">Tri-Monthly</option>
        <option value="yearly">Yearly</option>
    </select>
</div>